@require './vuetify-variables';
@require ('variables.styl');
@require '~vuetify/src/stylus/main';
@require ('util.styl');
@require ('scrollbar.styl');
@require ('general.styl');

$body-font-family = 'Open Sans';

html {
    overflow: hidden !important;
}

.hide {
    display: none;
}

.h100 {
    height: 100%;
}

.theme--light {
    .bg {
        background-color: var(--theme-light-background-color);
    }

    .color {
        color: var(--theme-light-color);
    }
}

#app.theme--light {
    background-color: #fafafa;
}

.theme--dark {
    .bg {
        background-color: var(--theme-dark-background-color);
    }

    .color {
        color: var(--theme-dark-color);
    }
}
