
/* UTIL */
.flexbox {
  display: flex;
}

.flexbox.vertical-align {
  align-items: center;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.va--super {
  vertical-align: super;
}

.va--bottom {
  vertical-align: text-bottom;
}

.bold {
  font-weight: bold;
}