$colorTransition = background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);


#app {
    --theme-light-color: rgba(0, 0, 0, 0.87);
    --theme-light-background-color: #fff;
    --theme-dark-color: #dcddde;
    --theme-dark-background-color: #303030;
    // 
    --sidebar-selected-background-color: var(--primary-color);
    --sidebar-selected-color: var(--theme-dark-color);
    --primary-foreground-color: #fff;

    --mod-card-placeholder-background-color: #dedede;
}